<!DOCTYPE html>
<html lang="en" th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common/header :: common-header"/>

  <body>
    <nav th:replace="common/navbar :: common-navbar" />

    <div class="container">
        <div class="starter-template">
            <h1 th:text="#{copy.h1.text}"></h1>
            <p class="lead" th:text="#{copy.p.lead}"></p>
        </div>
    </div>

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-4 span4">
              <a href="https://www.linkedin/in/mayko-oliveira">
                  <img class="img-circle"
                       src="https://pt.gravatar.com/userimage/15738676/1d676b44766cfb6112d37428faa40a59.png?size=200"
                       alt="Mayko" width="140" height="140" />
              </a>
              <h2>Mayko Oliveira <small class="member-title">Project Lead</small></h2>
              <div class="span4 collapse-group">
                  <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                  <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
              </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 span4">
              <a href="https://www.linkedin/in/mayko-oliveira">
                  <img class="img-circle"
                       src="https://pt.gravatar.com/userimage/15738676/1d676b44766cfb6112d37428faa40a59.png?size=200"
                       alt="Mayko" width="140" height="140" />
              </a>
              <h2>Mayko Oliveira <small class="member-title">Project Lead</small></h2>
              <div class="span4 collapse-group">
                  <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                  <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
              </div>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 span4">
              <a href="https://www.linkedin/in/mayko-oliveira">
                  <img class="img-circle"
                       src="https://pt.gravatar.com/userimage/15738676/1d676b44766cfb6112d37428faa40a59.png?size=200"
                       alt="Mayko" width="140" height="140" />
              </a>
              <h2>Mayko Oliveira <small class="member-title">Project Lead</small></h2>
              <div class="span4 collapse-group">
                  <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                  <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
              </div>
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/browser-icon-chrome.png}" />
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider" />

      <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/browser-icon-firefox.png}" />
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider" />

      <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/browser-icon-safari.png}" />
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider" />

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

    </div>

    <div th:replace="common/header :: before-body-script" />
  </body>
</html>
